html {
    box-sizing: border-box;
}

* ::after,
::before {
    box-sizing: inherit;
}


.body {
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px 50px;
    background: #f0eeee;
    color: rgb(26, 14, 18);
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.heading {
    color: #0b2944;
    width: 400px;
    text-align: center;
    padding: 20px 10px;
    margin: 30px auto;
    background: rgb(235, 232, 232);
    max-width: 100%;
    box-shadow: 0 0 3px 2px rgb(125 224 229);
    border-radius: 15px;
}


.button {
    color: rgb(20, 17, 17);
    width: 200px;
    padding: 5px 10px;
    margin: 15px auto;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(125 224 229);
    font-family: 'Lato', sans-serif;
}




.dark {
    color: aliceblue;
    background: #333;
}

.footer {
    max-width: 400px;
    margin: 10px auto;
    color: rgb(5, 5, 5);
    background: #dde1e1;
}